<h2 mat-dialog-title>Editar Usuário</h2>
<mat-dialog-content [formGroup]="form">
  <div class="example-container">
    <mat-form-field style="display:none">
      <input [hidden]='true' matInput placeholder="id" formControlName="id" readonly="readonly" #idvalue />
    </mat-form-field>
    <mat-form-field style="display:none">
      <input matInput placeholder="index" formControlName="index" readonly="readonly" #indexvalue />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="name" />
      <mat-icon matSuffix>perm_identity</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Sobrenome" formControlName="lastname" />
      <mat-icon matSuffix>perm_identity</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email" formControlName="login" />
      <mat-icon matSuffix>email</mat-icon>
      <mat-error *ngIf="form.controls.login.hasError('required')">
        Campo e-mail e obrigatório
      </mat-error>
      <mat-error *ngIf="form.controls.login.hasError('email')">
        Por favor informe um email valido
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Senha" formControlName="password" >
      <span mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Esconder Senha'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </span>
      <mat-error *ngIf="form.hasError('required', 'password')">
        Senha deve conter letras e números, entre maiúscula e minúscula
      </mat-error>
      <mat-error *ngIf="form.hasError('minlength', 'password')">
        Senha deve conter no minimo {{ form.controls.password.errors.minlength.requiredLength }} a 20 digitos, a sua
        atual {{form.controls.password.errors.minlength.actualLength}}
      </mat-error>
    </mat-form-field>

  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button color="primary" (click)="onCancel()">
    <mat-icon>cancel</mat-icon> Cancelar
  </button>
  <button mat-button color="primary" (click)="onEdit(idvalue)" [disabled]="!form.valid">
    <mat-icon>save</mat-icon> Salvar
  </button>
</mat-dialog-actions>